
### Scala IDE specific
.cache-main
.scala_dependencies
.worksheet
### Scala
*.class
*.log
### SBT 
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
### JetBrains 
.idea
*.iws
/out/

